{% extends "/common/layout.html" %}
{% block content %}

    {% if data %}

        {% for item in data %}

            <div class="list-group">
                <a href="{{ '%s?id=%s' | format(buildUrl('/case/addcase'),item.id) }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ item.apiname | safe }}</h4>
                    <p class="list-group-item-text">{{ item.explain | safe }}</p>
                </a>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}