{% extends "/common/layout.html" %}

{% block title %}
    <title>鑫方盛测试品台-用例列表</title>
{% endblock %}

{% block content %}
    <div>
        <ul class="nav nav-pills nav-stacked">
            <li id="fis" class="active"><a href="#">测试用例管理&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
        </ul>
    </div>

    <div class="row">


        <div id="first" style="float: left" class="col-md-1">
            <ul class="nav nav-pills nav-stacked">
                {% for i in data %}
                <li>
                    <a href="javascript:void(0)" f-id="{{ i.id }}"  class="a-tag-color getsecond">   {{ i.name }}   </a>
                </li>
                {% endfor %}
            </ul>
        </div>


        <div id="second" style="float: left;margin-left: 20px" class="col-md-1">
            <ul class="nav nav-pills nav-stacked">
            </ul>
        </div>


        <div id="third" style="float: left; margin-left: 20px" class="col-md-9">

        </div>


        <table id="third-table-temp" class='table table-hover table-bordered' style='table-layout: fixed;display: none'>
            <thead>
                <tr>
                    <th class='center'>用例id</th>
                    <th class='center' width='20%'>接口名称</th>
                    <th class='center' width='20%'>用例说明</th>
                    <th class='center' width='20%'>结果</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>

    </div>



    <script>

        var firstname = '';
        var secondname = '';
        var title = '';


        function getSecondContent(obj) {
            firstname = $(obj).text();


            // 先清空二级的ul
            $('#second').children('ul').html('');
            // 清空三级
            $('#third').html('');
            fid = $(obj).attr('f-id');

            $.ajax({
                url: '/case/getSecondContent',
                type: 'post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({'system_id':fid}),
                success: function (resp) {
                    if (resp.status == 0) {
                        // 请求成功后，加载二级模块
                        for (x in resp.data) {
                            $('#second').children('ul').append('<li><a class="a-tag-color" href="javascript:void(0)" onclick="getThirdContent(this)" s-id=' + resp.data[x].id + '>' + resp.data[x].name + '</a></li>');
                        }

                        // 加载完二级页面，直接点击第一个
                        var fid = $('#second').children('ul').children('li').eq(0).children('a').eq(0);
                        getThirdContent(fid)
                    }
                }
            })
        }


        $(document).on('click', '.getsecond', function () {

            getSecondContent(this)

        });


        function getThirdContent(obj) {


            // 二级模块名称
            secondname = $(obj).text();

            // 更改导航栏
            content = title + '<span style="color: whitesmoke">'+firstname + '-' + ' '+secondname + '</span>';
            $("#fis").children('a').eq(0).html(content);

            // 先清空三级的内容
            $('#third').html('');

            // 创建table
            var table = $('#third-table-temp').clone();
            $('#third-table').remove();

            table.attr('id', 'third-table');
            $('#third').append(table);
            $('#third-table').attr('style', 'visibility:visable');


            sid = $(obj).attr('s-id');
            $.ajax({
                url: '/case/getThirdContent_case',
                type: 'post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({'func_id':sid}),
                success: function (resp) {

                    // 请求成功后，加载三级模块
                    for (x in resp.data) {
                        case_id = resp.data[x].case_id
                        case_data = JSON.stringify(resp.data[x].case_data)
                        explain = resp.data[x].explain
                        apiname = resp.data[x].apiname

                        var temp = "<tr> " +
                            "<td>" + case_id + "</td>" +

                            "<td class='try-gan' title='" + apiname + "' style='overflow: hidden;text-overflow:ellipsis;white-space: nowrap'>" + apiname + "</td>" +

                            "<td class='try-gan' title='" + explain + "' style='overflow: hidden;text-overflow:ellipsis;white-space: nowrap'><a href='/case/editcase?case_id=" + case_id + "' target='_blank'>"+explain+"</a></td>" +

                            "<td class='try-gan' style='overflow: hidden;text-overflow:ellipsis;white-space: nowrap'></td>" +

                            "<td>" +
                            "<div><a href='javascript:void(0)' class='btn do-test' name='"+case_id+"'>测试</a></div>" +
                            "<div><a href='javascript:void(0)' name='"+case_id+"' class='btn do-delete'>删除</a></div>" +
                            "</td>" +

                            "</tr>"

                        $("#third-table").children('tbody').append(temp);
                    }


                }

            })
        }

        $('.try-gan').poshytip();


        // 注册热键,删除功能
        $(document).on('click', '.do-delete', function () {
            var res = confirm('确定删除么？');
            if (res) {
                var caseId = $(this).attr('name');
                var currentDiv = $(this).parent().parent().parent();

                $.ajax({
                    url: '/case/deletecases',
                    method: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({'caseId': [caseId]}),
                    success: function (resp) {
                        if (resp.msg == "删除成功") {
                            currentDiv.remove();
                        }
                        alert(resp.msg);
                    }
                });

            } else {
                return;
            }



        });

        // 注册热键,测试
        $(document).on('click', '.do-test', function () {
            var caseId = $(this).attr('name');
            var parentTag = $(this).parent().parent().parent().children('td').eq(3);

            $.ajax({
                url: '/case/dotest',
                method: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({'caseId':caseId}),
                success: function (resp) {
                    if (resp.msg == '测试通过') {
                        parentTag.append('<div class="showTest"><span style="color: green">测试通过</span></div>');
                    } else {
                        parentTag.append('<div class="showTest"><span style="color: red">'+JSON.stringify(resp)+'</span></div>');
                        parentTag.attr('title', resp.error);

                    }

                    {#alert(JSON.stringify(resp));#}
                }
            });


        });


        {#页面加载起始，自动进入第一个模块的第一个功能下#}
        $(document).ready(function () {

            title = $("#fis").children('a').eq(0).text();
            var fid = $('#first').children('ul').children('li').eq(0).children('a').eq(0);
            getSecondContent(fid);




        })




    </script>

{% endblock %}


