{% extends "/common/layout.html" %}

{% block title %}
    <title>鑫方盛测试品台-添加用例</title>
{% endblock %}

{% block content %}
    <style>
        .sm-item {
            display: flex;
            flex-flow: row nowrap;
            padding-left: 16px;
            font-size: 1.6rem;
        }
        .item-label {
            width: 64px;
            min-width: 64px;
            margin: 11px 8px 11px 0px;
            color: rgb(153, 153, 153);
        }

        .item-text {
            flex: 1 1 auto;
            margin: 11px 8px 11px 16px;
            font-family: inherit !important;

            /*超过宽度，自动换行*/
            white-space: pre-wrap;
            word-wrap: break-word;
        }


    </style>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading apiname" coordinationId="{{ id | safe }}" apiname='{{ info.apiname | safe }}' caseurl="{{  url | safe }}">{{ info.apiname | safe }}: : {{ url | safe}}</div>
{#                <p class="navbar-text "><a#}
{#                        href="{{ buildUrl('/case/case_list') }}" class="navbar-link">返回接口列表</a></p>#}
{##}
{##}
{#                <div class="radio navbar-center ">#}
{#                    {% if pjlist %}#}
{#                        {% for item in pjlist %}#}
{#                            <label>#}
{#                                <input class="pjname" type="radio" name="optionsRadios" id="optionsRadios1"#}
{#                                       value={{ item | safe }} checked>#}
{#                                {{ item | safe }}#}
{#                            </label>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                </div>#}


                <div class="panel-body">
                    <div class="form-horizontal param_wrap">

                        <div class="form-group ">
                            <label for="paramname"
                                   class="col-sm-2 control-label paramname">功能说明</label>
                            <div class="col-sm-10" style="background-color: #222222">
                                <div>
                                    <span style="color: navajowhite">1.param、入参、断言，支持解析上一接口的param、data、res<br></span>
                                    <span style="color: navajowhite">2.数据格式："#用例id_解析类型_jmesspath表达式#  例：{"productName":"#10_res_retData.data.productName#"}"<br></span>
                                    <span style="color: navajowhite">3.支持调用系统方法:例  $getRanndomInt$</span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group ">
                            <label for="paramname"
                                   class="col-sm-2 control-label paramname">param:</label>
                            <div class="col-sm-10">
                                <pre id="param" class="result sm-item" contenteditable="true" style="max-height: 130px">{{ param }}</pre>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="paramname"
                                   class="col-sm-2 control-label paramname">data:</label>
                            <div class="col-sm-10">
                                <pre id="data" class="result sm-item" contenteditable="true" style="max-height: 250px">{{ data }}</pre>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="paramname"
                                   class="col-sm-2 control-label paramname">断言:</label>
                            <div class="col-sm-10">
                                <pre id="assert" class="result sm-item" contenteditable="true" style="max-height: 180px"></pre>
                            </div>
                        </div>



                        <label for="lab" class="col-sm-2 control-label ">描述</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control  " id="explain">
                        </div>
                        </br>
                        </br>
                        </br>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-success btn-block create_jsondata">测试接口</button>
                            </div>
                            <div class="col-sm-10">
                                <pre id="showjson" class="result sm-item" contenteditable="true"></pre>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success btn-block do_add">保存用例</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ buildStaticUrl('/js/case/addcase.js') }}"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ buildStaticUrl('/js/case/jquery.jsonview.js') }}"></script>
{#    <script src="{{ buildStaticUrl('/js/jquery.jsonview.css') }}"></script>#}



{% endblock %}
