<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>鑫方盛测试平台</title>

    <link rel="stylesheet" href="{{ buildStaticUrl('/plugins/bootstrap_v3/css/bootstrap.min.css') }}">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ buildUrl('/case/case_list') }}">鑫方盛测试平台</a>

        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                {% if current_user %}
                    {% if current_user.user_id == 'fuck' or current_user.user_id == 'admin' %}
                        <li><a href="{{ buildUrl('/stress/stress') }}">压力测试</a></li>
                    {% endif %}
                    <li><a href="{{ buildUrl('/case/case_list') }}">添加测试用例</a></li>
                    <li><a href="{{ buildUrl('/case/mylist') }}">用例列表</a></li>
                    <li><a href="{{ buildUrl('/case/addmodel') }}">添加用例模版</a></li>
                    <li class="user_id"><a href="javascript:void(0);">{{ current_user.user_id }}</a></li>
                    <li><a href="{{ buildUrl('/member/logout') }}">退出</a></li>
                {% else %}
                    <li><a href="{{ buildUrl('/member/reg') }}">注册</a></li>
                    <li><a href="{{ buildUrl('/member/login') }}">登录</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %} {% endblock %}
</div>
<script src="{{ buildStaticUrl('/plugins/jquery.min.js') }}"></script>

<script src="{{ buildStaticUrl('/plugins/bootstrap_v3/js/bootstrap.min.js') }}"></script>
<script src="{{ buildStaticUrl('/js/common.js') }}"></script>
<script src="{{ buildStaticUrl('/plugins/layer/layer.js') }}"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
    function t() {
        $('.container').html('');
        $('.container').css("height", "100%");
        $('.container').append('<iframe src="http://192.168.0.129:7890/static/html/stressTest.html" width="100%" height="100%" frameborder="0"></iframe>')
    }
</script>
{% block js %}{% endblock %}
</body>
</html>